---
import EasyNavButton from '../../../EasyNavButton.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<EasyNavButton
			background="#09F"
			backgroundHover="#006"
		/>
	</main>
</Layout>
